<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar usuários</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" routerLink="/">Página inicial</a>
            </div>
          </div>
        </div>
      </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Usuários</h1>
                    <button class="btn btn-success my-5" routerLink="/adicionar">Cadastrar usuário</button>

                    <input type="text" [(ngModel)]="pesquisa" placeholder="Pesquisar..." class="form-control mb-3">

                    <table class="table table-striped my-3">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Data Nascimento</th>
                            <th scope="col">Cpf</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Altura</th>
                            <th scope="col">Peso</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let pessoa of filtrarPessoas()">
                            <th scope="row">{{pessoa.id}}</th>
                            <td>{{pessoa.nome}}</td>
                            <td>{{formatarData(pessoa.data_nasc.toString())}}</td>
                            <td>{{formatarCPF(pessoa.cpf)}}</td>
                            <td>{{pessoa.sexo}}</td>
                            <td>{{pessoa.altura}}</td>
                            <td>{{pessoa.peso}}</td>
                            <td>
                                <button class="btn btn-warning" routerLink="/atualizar/{{pessoa.id}}">Editar</button>
                                <button class="btn btn-danger mx-2" (click)="deletePessoa(pessoa.id)">Deletar</button>
                                <button class="btn btn-primary" (click)="openModal(pessoa)">Calcular IMC</button>
                            </td>
                        </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>


</body>
</html>
