<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar usuário</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" routerLink="/">Página Inicial</a>
            </div>
          </div>
        </div>
      </nav>
        <div class="my-5">
            <div class="mx-auto w-25 " style="max-width:100%;">
              <h2 class="text-center mb-3">Alterar usuário</h2>
              <form  [formGroup]="form" (ngSubmit)="submit()" >
                <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label for="nome" class="form-label">Nome</label>
                      <input id="nome"  formControlName="nome"  type="text" name="nome" class="form-control" [placeholder]="pessoas?.nome"  required>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label for="data_nasc" class="form-label">Data Nascimento</label>
                      <input id="data_nasc"  formControlName="data_nasc"  type="date" name="data_nasc" class="form-control" [placeholder]="pessoas?.data_nasc"  required>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label for="cpf" class="form-label">CPF</label>
                      <input id="cpf"  formControlName="cpf"  type="text" name="cpf" class="form-control" [placeholder]="pessoas?.cpf"  required>
                    </div>
                  </div>

                  <label for="sexo" class="form-label">Sexo</label>
                  <div class="form-check mb-3">
                    <input class="form-check-input"  formControlName="sexo" type="radio" name="sexo" id="feminino" value="feminino">
                    <label class="form-check-label" for="feminino">Feminino</label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" formControlName="sexo"  name="sexo" id="masculino" value="masculino">
                    <label class="form-check-label" for="masculino">Masculino</label>
                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label for="altura" class="form-label">Altura</label>
                      <input id="altura"  formControlName="altura"  type="number" name="altura" class="form-control" [placeholder]="pessoas?.altura"  required>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label for="peso" class="form-label">Peso</label>
                      <input id="peso"  formControlName="peso"  type="text" name="peso" class="form-control" [placeholder]="pessoas?.peso"  required>
                    </div>
                  </div>

                <div class="row">
                  <div class="col-md-12 form-group">
                    <button [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Submit">Alterar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
</body>
</html>
